* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* ---------------- */
/****** navbar ******/
/* ---------------- */

#navbar {
    background-color: aqua;
    color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#navbar ul li{
    display: inline-block;
    padding: 15px 6%;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
}

#navbar ul li:hover {
    background-color: bisque;
    text-transform: capitalize;
}

a:link {
    text-decoration: none;
    color: black;
}

#internet { background-color: white;  }
#web {
    background-color: antiquewhite;
}
#summary { background-color: white;}

#content {
    padding-top: 60px;
    margin: 0 5%;
}

#headp {
    padding: 20px;
}

#conp {
    margin-left: 5%;
    padding: 10px 0;
}

#yvideo {
    margin: 30px 25%;
    border: 10px solid aqua;
    padding: 12px;
}

#marq{
    height: 35px;
    width: 100%;
    background-color: aqua;
    color: black;
    font-weight: 500;
    padding-top: 5px;
}

#bottomcontent {
    margin: 0 5%;
}

/* ---------------- */
/****** footer ******/
/* ---------------- */

#footer {
    height: 70px;
    background-color: #2b2b2a;
    color : white;
    width: 100%;
}

#footer div {
    display: inline-block;
}

#fp{
    float: left;
    margin-left: 15%; 
    margin-top: 10px;;   
}

#use {
    float: right;
    list-style: none;
    padding: 0 30px;
    margin-right: 15%;
}

#use li {
    display: inline-block;
    padding: 0 6%;
    font-style: italic
}

#use a {
    color: white;
}


#webol {
    margin: 10px 10% 30px 10%;
}

#fullyvideo {
    margin: 30px 10%;
    border: 10px solid aqua;
}

/* ---------------- */
/******* web3 *******/
/* ---------------- */

#decsec {
    margin: 0 5%;
    background-color: antiquewhite;
}

#dec div {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 5%;
}

table {
    margin: 3% 8%;
    padding: 10px 20px;
    border-collapse: collapse;
}

th {
    background-color: aqua;
    height: 40px;
}

td {
    background-color : azure;
    height: 40px;
    text-align: center
}
/* ---------------- */
/****** gallery ******/
/* ---------------- */

#videos {
    padding-top: 70px;
}

#sameline {
    margin: 2% 4%;
    border: 8px solid aqua;
}

#seperate {
    margin: 2% 29%;
    border: 8px solid aqua;
}

#videos legend {
    padding-left: 40px;
    font-size: 30px;
}







