* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
   
}



/* ---------------- */
/****** navbar ******/
/* ---------------- */

#navbar {
    background-color: #024452;
    height: 60px;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
#navbar ul{
    margin: 0 5%;
}

#navbar ul li{
    display: inline-block;
    padding: 15px 6%;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}

#navbar ul li:hover {
    background-color: #135563;
    text-transform: capitalize;
}


#navbar a {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

#internet { background-color: #dcf1f5;}
#web { background-color: antiquewhite;
margin-top: 0;
}
#summary { background-color: white;}
#webone {background-color: #dcf1f5}
#webtwo {background-color: #dcf1f5}
#summary {background-color: #dcf1f5}


#content {
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0 5%;
}

#content div {
    display: inline-block;
    padding: 10px 7%;
}

#content img {
    border: 10px solid #024452; 
}

#headp {
    padding: 20px;
    
}

#conp {
    margin-left: 5%;
    padding: 10px 0;
}

#yvideo {
    margin: 30px 25%;
    padding: 12px;
}

#marq{
    height: 35px;
    width: 100%;
    background-color: #024452;
    color: white;
    font-weight: 500;
    padding-top: 5px;
}

#bottomcontent {
    margin: 0 5%;
}

/* ---------------- */
/****** footer ******/
/* ---------------- */

#footer {
    height: 90px;
    background-color: #024452;
    color : white;
    width: 100%;
}

#footer div {
    display: inline-block;
}

#fp{
    float: left;
    margin-left: 15%; 
    margin-top: 10px;;   
}

#use {
    float: right;
    list-style: none;
    padding: 0 30px;
    margin-right: 7%;
}

#use li {
    display: inline-block;
    padding: 0 6%;
    font-style: italic
}

#use a {
    color: white;
}


#webol {
    margin: 10px 10% 30px 10%;
}

#fullyvideo {
    margin: 30px 13%;
    border: 10px solid #024452;
}

#webonetable td {
    padding: 10px 20px;
}


/* ---------------- */
/******* web3 *******/
/* ---------------- */

#decsec {
    margin: 0 5%;
}

.decenter{
    background-color: #dcf1f5;
}

#dec div {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 3% 0px;
}

#webthree {
    background-color: #dcf1f5;
}

#webthreetable {
    margin: 3% 8%;
    padding: 10px 20px;
    border-collapse: collapse;
}

th {
    background-color: #024452;
    color: white;
    height: 40px;
}

#webthreetable td {
    background-color : azure;
    height: 40px;
    text-align: center
}
/* ---------------- */
/****** gallery ******/
/* ---------------- */

#videos {
    padding-top: 70px;
    background-color: #dcf1f5;
}

iframe:hover{
    filter: grayscale(100%)
}

#sameline {
    margin: 2% 3%;
    border: 8px solid #024452;
}

#seperate {
    margin: 2% 29%;
    border: 8px solid #024452;
}

#videos legend {
    padding-left: 40px;
    font-size: 30px;
}

#same {
    display: inline-block;
    border: 8px solid #024452;
    margin: 1% 9%;
}

#line {
    display: inline-block;
    border: 8px solid #024452;
    margin: 1% 9%;
}



